@model IEnumerable<SystemZarzadzaniaBiblioteka.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Katalog Książek</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <span>|</span>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    <form asp-controller="Loans" asp-action="Create" method="post" style="display:inline; margin-left: 10px;">
                        <input type="hidden" name="bookId" value="@item.Id" />
                        <button type="submit" class="btn btn-sm btn-success">Wypożycz</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>